In [32]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import svm, datasets

In [33]:
dir = "F:\Thesis Material\Thesisdataset.xlsx"
dataset = pd.read_excel(dir)
dataset.head()

,1. Age in years,Gender,Placeofresidents,Race,EducationalLevel,OccupationalStatus,MaritalStatus,8. Family Income,1stquestion,2ndquestion,...,16thquestion,17thquestion,18thquestion,19thquestion,20thquestion,21stquestion,Agegroup,Depression,Stress,Anxiety
0,25,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,"Less than RM 4, 849",1,3,...,1,1,3,1,2,1,21-25,Yes,Yes,Yes
1,23,Female,Rural area,Others,"Tertiary education (Degree, Master, PHD)",Student,Single,"Between RM 4, 850 to RM 10, 959",2,0,...,1,1,0,0,0,1,21-25,Yes,No,No
2,28,Female,Rural area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,"Less than RM 4, 849",2,3,...,1,1,2,1,1,0,26-30,Yes,Yes,Yes
3,20,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Student,Single,"More than RM 10,960",1,2,...,2,1,2,2,1,1,18-20,Yes,No,Yes
4,19,Female,Rural area,Malay,Post-secondary education (Pre-University : Mat...,Student,Single,"More than RM 10,960",1,1,...,0,0,1,0,1,0,18-20,No,No,Yes

In [34]:
inputs = dataset.drop(('1. Age in years'), axis = 'columns')
inputs.head()
df = inputs.drop('8. Family Income', axis = 'columns')
df.head()

,Gender,Placeofresidents,Race,EducationalLevel,OccupationalStatus,MaritalStatus,1stquestion,2ndquestion,3rdquestion,4thquestion,...,16thquestion,17thquestion,18thquestion,19thquestion,20thquestion,21stquestion,Agegroup,Depression,Stress,Anxiety
0,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,1,3,1,3,...,1,1,3,1,2,1,21-25,Yes,Yes,Yes
1,Female,Rural area,Others,"Tertiary education (Degree, Master, PHD)",Student,Single,2,0,0,0,...,1,1,0,0,0,1,21-25,Yes,No,No
2,Female,Rural area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,2,3,1,2,...,1,1,2,1,1,0,26-30,Yes,Yes,Yes
3,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Student,Single,1,2,1,1,...,2,1,2,2,1,1,18-20,Yes,No,Yes
4,Female,Rural area,Malay,Post-secondary education (Pre-University : Mat...,Student,Single,1,1,1,1,...,0,0,1,0,1,0,18-20,No,No,Yes

In [35]:
le_Gender = LabelEncoder()
le_Placeofresidents = LabelEncoder()
le_Race = LabelEncoder()
le_EducationalLevel = LabelEncoder()
le_OccupationalStatus = LabelEncoder()
le_MaritalStatus = LabelEncoder()
le_Agegroup = LabelEncoder()
le_Depression = LabelEncoder()
le_Stress = LabelEncoder()
le_Anxiety = LabelEncoder()

In [36]:
df['Gndr'] = le_Gender.fit_transform(df['Gender'])
df['Resident'] = le_Placeofresidents.fit_transform(df['Placeofresidents'])
df['RaceStat'] = le_Race.fit_transform(df['Race'])
df['Education'] = le_EducationalLevel.fit_transform(df['EducationalLevel'])
df['Occupation'] = le_OccupationalStatus.fit_transform(df['OccupationalStatus'])
df['Marriage'] = le_MaritalStatus.fit_transform(df['MaritalStatus'])
df['Age'] = le_Agegroup.fit_transform(df['Agegroup'])
df['Depressed'] = le_Depression.fit_transform(df['Depression'])
df['Stressed'] = le_Stress.fit_transform(df['Stress'])
df['Anex'] = le_Anxiety.fit_transform(df['Anxiety'])

df.head()

,Gender,Placeofresidents,Race,EducationalLevel,OccupationalStatus,MaritalStatus,1stquestion,2ndquestion,3rdquestion,4thquestion,...,Gndr,Resident,RaceStat,Education,Occupation,Marriage,Age,Depressed,Stressed,Anex
0,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,1,3,1,3,...,0,1,2,3,0,3,1,1,1,1
1,Female,Rural area,Others,"Tertiary education (Degree, Master, PHD)",Student,Single,2,0,0,0,...,0,0,3,3,2,3,1,1,0,0
2,Female,Rural area,Malay,"Tertiary education (Degree, Master, PHD)",Full-time,Single,2,3,1,2,...,0,0,2,3,0,3,2,1,1,1
3,Female,Urban area,Malay,"Tertiary education (Degree, Master, PHD)",Student,Single,1,2,1,1,...,0,1,2,3,2,3,0,1,0,1
4,Female,Rural area,Malay,Post-secondary education (Pre-University : Mat...,Student,Single,1,1,1,1,...,0,0,2,1,2,3,0,0,0,1

In [37]:
fdf = df.drop(['Gender', 'Placeofresidents', 'Race', 'EducationalLevel', 'OccupationalStatus', 'MaritalStatus', 'Agegroup', 'Depression', 'Stress', 'Anxiety'], axis='columns')
fdf.head()

,1stquestion,2ndquestion,3rdquestion,4thquestion,5thquestion,6thquestion,7thquestion,8thquestion,9thquestion,10thquestion,...,Gndr,Resident,RaceStat,Education,Occupation,Marriage,Age,Depressed,Stressed,Anex
0,1,3,1,3,1,0,2,1,1,0,...,0,1,2,3,0,3,1,1,1,1
1,2,0,0,0,1,1,0,1,1,1,...,0,0,3,3,2,3,1,1,0,0
2,2,3,1,2,1,3,3,1,2,3,...,0,0,2,3,0,3,2,1,1,1
3,1,2,1,1,2,1,1,0,2,2,...,0,1,2,3,2,3,0,1,0,1
4,1,1,1,1,0,1,1,1,2,1,...,0,0,2,1,2,3,0,0,0,1

In [38]:
Depress=['Gndr','Resident','RaceStat','Education','Occupation','Marriage','Age','3rdquestion', '5thquestion', '10thquestion', '13thquestion' , '16thquestion', '17thquestion', '21stquestion']

In [39]:
Strs=['Gndr','Resident','RaceStat','Education','Occupation','Marriage','Age', '1stquestion', '6thquestion', '8thquestion', '11thquestion', '12thquestion','14thquestion', '18thquestion']

In [40]:
Anx=['Gndr','Resident','RaceStat','Education','Occupation','Marriage','Age', '2ndquestion', '4thquestion', '7thquestion', '9thquestion', '15thquestion', '20thquestion', '19thquestion']

In [41]:
x3 = df[Depress].copy()
x3.columns

Index(['Gndr', 'Resident', 'RaceStat', 'Education', 'Occupation', 'Marriage',
       'Age', '3rdquestion', '5thquestion', '10thquestion', '13thquestion',
       '16thquestion', '17thquestion', '21stquestion'],
      dtype='object')

In [42]:
x4 = df[Strs].copy()
x4.columns

Index(['Gndr', 'Resident', 'RaceStat', 'Education', 'Occupation', 'Marriage',
       'Age', '1stquestion', '6thquestion', '8thquestion', '11thquestion',
       '12thquestion', '14thquestion', '18thquestion'],
      dtype='object')

In [43]:
x5 = df[Anx].copy()
x5.columns

Index(['Gndr', 'Resident', 'RaceStat', 'Education', 'Occupation', 'Marriage',
       'Age', '2ndquestion', '4thquestion', '7thquestion', '9thquestion',
       '15thquestion', '20thquestion', '19thquestion'],
      dtype='object')

In [44]:
cy=['Depressed']
y=df[cy].copy()
y.columns

Index(['Depressed'], dtype='object')

In [45]:
y['Depressed'].value_counts()

1    709
0    262
Name: Depressed, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train_test_split(x3, y,test_size = 0.9)

In [47]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state = 0)
X_train_new, y_train_new = sm.fit_resample(X_train, y_train)

In [48]:
classifier = svm.SVC(kernel='linear', gamma = 'auto', C=1)
classifier.fit(X_train_new, y_train_new)

D:\Anaconda\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1, gamma='auto', kernel='linear')

In [49]:
y_predict = classifier.predict(X_test)

In [52]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.94      0.85      0.89       243
           1       0.94      0.98      0.96       631

    accuracy                           0.94       874
   macro avg       0.94      0.91      0.93       874
weighted avg       0.94      0.94      0.94       874

In [ ]:
x3 = SVC()

In [101]:
X_Train, X_Test, y_Train, y_Test = train_test_split(x3, y,test_size = 0.9)

TypeError: Singleton array array(SVC(), dtype=object) cannot be considered a valid collection.

In [ ]:
x3.fit(X_train, y_train)